<%= form_for(Payment.new) do |f| %>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= check_box_tag :delay %>
    Delayed
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
